*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0px;
    background-image: url("imagem/quadros.png");
    background-size: cover;
    font-family: "comfortaa", sans-serif;
    background-position: 50% 70%;
    color: white;
    font-family: arial;
}


input{
    display: block;
    height: 40px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgb(238, 165, 169, 0.01);
    color: white;
    


}
div#corpo-form{
    /*background-color: aqua;*/
    width: 420px;
    margin: 150px auto 0px auto;
    
}
div#corpo-form h1{
    text-align: center;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
a:hover{
text-decoration: underline;
}

input[type=submit] {
    background-color: #0099ff;
    border: none;
    cursor: pointer;
 
}